## Minecraft
/versions.json

## gradle
/.gradle
/build

## ForgeGradle
/run
/libs

## eclipse
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

## intellij
/out
/.idea
/*.iml
/*.ipr
/*.iws

## 3rd Party Mod Debug Folder
mods/*
